@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/* :root {
  @apply h-full bg-black
}

body {
  @apply h-full bg-black text-white
} */

.edit-modal .ant-btn-primary{
  background: teal;
}

.modal-edit .ant-btn-default{
  color: white;
  border: none;
}

.modal-edit .ant-btn-primary{
  color: white;
}
.modal-edit .ant-btn-default:hover,
.modal-edit .ant-btn-primary:hover,
.ant-modal-footer:hover{
  background: white !important;
  color: white !important;
  border: none;
}

.ant-picker-ranges .ant-btn-sm{
  background: teal;
}

.range-time .ant-picker-input input{
  color: black !important;
}

.pick-time .ant-picker-input input{
  color: black !important;
}

.ant-modal-header .ant-modal-title{
  color: teal;
  font-size: 20px;
}