@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

/*Scoll CSS*/

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: teal; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* :root {
  @apply h-full bg-black
}

body {
  @apply h-full bg-black text-white
} */

.edit-modal .ant-btn-primary{
  background: teal;
}

.modal-edit .ant-btn-default{
  color: white;
  border: none;
}

.modal-edit .ant-btn-primary{
  color: white;
}
.modal-edit .ant-btn-default:hover,
.modal-edit .ant-btn-primary:hover,
.ant-modal-footer:hover{
  background: white !important;
  color: white !important;
  border: none;
}

.ant-picker-ranges .ant-btn-sm{
  background: teal;
}

.range-time .ant-picker-input input{
  color: black !important;
}

.pick-time .ant-picker-input input{
  color: black !important;
}

.ant-modal-header .ant-modal-title{
  color: teal;
  font-size: 20px;
}

.ant-modal-close-icon{
  color: red !important;
}

.ant-table-thead .ant-table-cell{
  background: rgba(44, 103, 141, 1) !important;
  color: white !important;
}
.select-in-table .ant-select-selector{
  border: none !important;
}


